
.nodes circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.nodes text {
  font: 10px sans-serif;
}

.links path {
    stroke: #030303;
    stroke-width: 1px;
}

.links line {
    stroke: #1b1a1a;
    stroke-width: 1.5px;
    stroke-opacity: 0.6;
}
  
.tooltip {
    position: absolute;
    text-align: center;
    min-width: 85px;
    min-height: 25px;
    overflow: hidden;
    padding: 2px;
    font: 10px sans-serif;
    background-color: rgba(199, 199, 199, 0.49);
    
    pointer-events: none;
    border-style: solid;
  }

  svg {
    margin: auto 1px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 5px
  }

  select {
    margin: 10px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
  }

  body {
    background-color: #f2f2f2;
  }

  .wrap {
    overflow: hidden;
  }
  .graph1 {
    float : left;
  }

  .graph2 {
    vertical-align: top;
    display: inline-block;
  }

.range-slider {
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
  margin: 10px 0;
}
.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #1b53c0;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: -10px 0;
}
.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  margin: 10px 0;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
  margin: 10px 0;
}
