
.nodes circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.nodes text {
  font: 10px sans-serif;
}

.links path {
    stroke: #030303;
    stroke-width: 1px;
}

.links line {
    stroke: #dabbbb;
    stroke-width: 1.5px;
}
  
.tooltip {
    position: absolute;
    text-align: center;
    width: 85px;
    height: 50px;
    padding: 2px;
    font: 10px sans-serif;
    background-color: rgba(199, 199, 199, 0.49);
    
    pointer-events: none;
    border-style: solid;
  }

  svg {
    margin: auto;
    padding-left: 50px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  select {
    margin: 10px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
  }

  body {
    background-color: #f2f2f2;
  }

  .wrap {
    overflow: hidden;
  }
  .graph1 {
    float : left;
  }

  .graph2 {
    vertical-align: top;
    display: inline-block;
  }